<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866860133863-eqph35gn7ran2a8vo9a2miih050fvgl7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866860133863-eqph35gn7ran2a8vo9a2miih050fvgl7</string>
	<key>API_KEY</key>
	<string>AIzaSyDVGBOETHrRB94o_vgITNUc_UOsibH7lJs</string>
	<key>GCM_SENDER_ID</key>
	<string>866860133863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kosukesaigusa.spajam2022</string>
	<key>PROJECT_ID</key>
	<string>spajam-2022-app</string>
	<key>STORAGE_BUCKET</key>
	<string>spajam-2022-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866860133863:ios:a8fbf6d87415369d632142</string>
</dict>
</plist>